.mdl-card__supporting-text {
  color: black;
}

#spinner {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.mdl-textfield .mdl-js-textfield {
  display: block;
}

.mdl-textfield__error {
	width: 100%;
	left: 0;
 text-align: left;
}
