.mdl-card__supporting-text {
  color: black;
}

.mdl-data-table th {
  color: black;
  font-size: 14px;
}

#spinner {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.mdl-textfield .mdl-js-textfield {
  display: block;
}

.mdl-textfield__error {
	width: 100%;
	left: 0;
 text-align: left;
}

.mdl-layout__container {
  position: relative;
}